:root {
  --color-card-bg: hsl(0, 0%, 100%); /* White */
  --color-base-bg-bottom: hsl(275, 100%, 97%); /* Light pink */
  --color-base-bg-top: hsl(292, 42%, 14%); /* Dark purple */
  --color-grayish-purple: hsl(292, 16%, 49%); /* Grayish purple */
  --space: 1.5rem;
  --border-radius: 0.7rem;
}

/* --- GLOBAL RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-base-bg-bottom);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

p {
  font-size: 0.9rem; /* 16px */
}

/* --- MAIN --- */

.container {
  background-color: var(--color-card-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 45vw;
  border-radius: var(--border-radius);
  margin-top: auto; /* Push the container to the center */
  padding: var(--space);
}

header {
  display: flex;
  align-items: center;
  margin-bottom: var(--space);
}

header img {
  margin-right: 0.625rem; /* Adjust the spacing between the image and the heading as needed */
}

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: var(--color-card-bg);
}

.faq-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--space);
  border-radius: var(--border-radius);
  width: 100%;
  border-bottom: 0.063rem solid #eee;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
}

.faq-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.faq-item .questions {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
}

.faq-item .answers {
  display: none;
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
  color: #555;
}

.faq-item .answers.active {
  display: block;
  font-size: 0.8rem;
  line-height: 1.8;
}

.faq-item .icon {
  margin-left: 1rem;
  width: 1.125rem;
  height: 1.125rem;
  transition: transform 0.2s;
}

.faq-item .icon.active {
  transform: scale(1.1);
}

/* --- FOOTER --- */

.footer {
  margin-top: auto; /* Push the footer to the bottom */
  text-align: center;
}

.attribution {
  font-size: 0.688rem; /* 12px */
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --- MEDIA QUERY Responsive */

@media screen and (max-width: 768px) {
  body {
    background-image: url("/assets/images/background-pattern-mobile.svg");
  }

  .container {
    max-width: 95vw;
  }

  p {
    font-size: 1rem;
  }

  .faq-item .answers.active {
    font-size: 0.9rem;
    line-height: 1.8;
  }

  .faq-item .icon {
    margin-left: 1.5rem;
    width: 1.7rem;
    height: 1.7rem;
    transition: transform 0.2s;
  }

  footer,
  footer p {
    font-size: 1rem;
  }
}
